{% schema %}
{
  "name": "Show more section",
  "settings": [
    {
      "type": "textarea",
      "id": "intro_text",
      "label": "Texto Inicial"
    },
    {
      "type": "textarea",
      "id": "more_text",
      "label": "Texto Adicional"
    }
  ]
}
{% endschema %}

<div class="custom-content">
    <p class="intro-text">
        {{ section.settings.intro_text }}
    </p>
    <div id="moreText" style="display:none;">
        <p>
            {{ section.settings.more_text }}
        </p>
    </div>
    <button id="showMoreBtn" onClick="toggleText()">Ver Mais</button>
</div>

<script>
function toggleText() {
    var moreText = document.getElementById("moreText");
    var btnText = document.getElementById("showMoreBtn");

    if (moreText.style.display === "none") {
        moreText.style.display = "block";
        btnText.textContent = "Ver Menos";
    } else {
        moreText.style.display = "none";
        btnText.textContent = "Ver Mais";
    }
}
</script>


