.twopro.grid__item,.wbslickfcoll .grid__item{
    max-width: 100%;
}
.product-form__error-message-wrapper:not([hidden]){
    margin-top: 10px;
    margin-bottom: 8px;
}
.wbproduct-container .wbvariantbadges {
    position: absolute;
    top: 8px;
    left: 8px;
}
.wbhomesbtn button{
    position: absolute;
    top: 42%;
    background: rgba(var(--color-base-background-2));
    color: rgba(var(--color-foreground));
    transition: 0.3s ease;
    opacity: 0;
    text-align: center;
}
slider-component:hover .wbhomesbtn button,slider-component:focus-within .wbhomesbtn button{
    opacity: 1;
}
.wbhomesbtn button:hover{
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-base-background-1));
}
.wbhomesbtn button:hover svg,.wbhomesbtn .slider-button[disabled]:hover .icon{
    color: rgb(var(--color-base-background-1));   
}
.wbhomesbtn button.slider-button--prev{
    left: 0;
}
.wbhomesbtn button.slider-button--next{
    right: 0;
}
.wbcollfea .wbhomesbtn button.slider-button--prev{
    left: 15px;
}
.wbcollfea .wbhomesbtn button.slider-button--next{
    right: 15px;
}
.allslideprt{
    flex-wrap: inherit;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    display: flex;
    text-align: center;
}
.wbimgblock .card__content {
    display: grid;
    grid-template-rows: minmax(0,1fr) max-content minmax(0,1fr);
    padding: 1rem;
    width: 100%;
}
.wbproduct-container .wbimgblock{
    transition: 0.3s ease;
}
#product-grid .wbproduct-container .wbimgblock{
    transition: none;
}
/*.wbproduct-container .wbimgblock .wbsecongimg{
    opacity: 0;
}
.wbproduct-container .wbimgblock:hover .wbsecongimg{
    opacity: 1;
}*/
.card-wrapper .wbimgblock:hover .media.media--hover-effect > img:first-child:not(:only-child) {
    opacity: 0;
}
.card-wrapper .wbimgblock:hover .media.media--hover-effect > img + img {
    opacity: 1;
    transition: transform var(--duration-long) ease;
}
.product_badge.new{
    position: absolute;
    top: 5px;
    right: 10px;
}
.card-wrapper {
    color: inherit;
    height: 100%;
    position: relative;
    text-decoration: none;
}
.wbhomevendor{
    color: rgba(var(--color-foreground), 0.8);
    margin-bottom: 8px;
}
.card {
    text-align: var(--card-text-alignment);
    text-decoration: none;
    border: none;
}
.card--card {
    height: 100%;
}
.card--card,
.card--standard .card__inner {
    border-radius: var(--card-corner-radius);
    border: var(--card-border-width) solid rgba(var(--color-foreground), var(--card-border-opacity));
    position: relative;
    box-sizing: border-box;
}
.card--card:after,
.card--standard .card__inner:after {
    content: '';
    position: absolute;
    width: calc(var(--card-border-width) * 2 + 100%);
    height: calc(var(--card-border-width) * 2 + 100%);
    top: calc(var(--card-border-width) * -1);
    left: calc(var(--card-border-width) * -1);
    z-index: -1;
    border-radius: var(--card-corner-radius);
    box-shadow: var(--card-shadow-horizontal-offset) var(--card-shadow-vertical-offset) var(--card-shadow-blur-radius) rgba(var(--color-shadow), var(--card-shadow-opacity));
}

.card .card__inner .card__media {
  overflow: hidden;
  /* Fix for Safari border bug on hover */
  z-index: 0;
  border-radius: calc(var(--card-corner-radius) - var(--card-border-width) - var(--card-image-padding));
}

.card--card .card__inner .card__media {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card--standard.card--text {
  background-color: transparent;
}

.card-information {
  text-align: var(--card-text-alignment);
}

.card__media,
.card .media {
  bottom: 0;
  position: absolute;
  top: 0;
}

.card .media {
  width: 100%;
}

.card__media {
  margin: var(--card-image-padding);
  width: calc(100% - 2 * var(--card-image-padding));
}

.card--standard .card__media {
  margin: var(--card-image-padding);
}

.card__inner {
  width: 100%;
}

.card--media .card__inner .card__content {
  padding: 0;
}

.card__content {
  padding: 15px;
}

.card__content--auto-margins {
  grid-template-rows: minmax(0,auto) max-content minmax(0,auto);
}
.card__information {
  grid-row-start: 2;
}
.card__badge {
  align-self: flex-end;
  grid-row-start: 3;
  justify-self: flex-start;
}
.card__badge.top.right{
    margin-top: 30px;
}
.card__badge.top {
  align-self: flex-start;
  grid-row-start: 1;
}

.card__badge.right {
  justify-self: flex-end;
}
.wbimgblock img{
    border-radius: 5px;
}
.card__media .media img {
  height: 100%;
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.card__inner:not(.ratio) > .card__content {
  height: 100%;
}

.card__heading {
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: calc(var(--font-body-scale) * 18px);
    font-weight: var(--font-body-weight);
}

/*.card__heading:last-child {
    margin-bottom: 0;
}*/

.card--card.card--media > .card__content {
  margin-top: calc(0rem - var(--card-image-padding));
}

.card--standard.card--text a::after,
.card--card .card__heading a::after {
  bottom: calc(var(--card-border-width) * -1);
  left: calc(var(--card-border-width) * -1);
  right: calc(var(--card-border-width) * -1);
  top: calc(var(--card-border-width) * -1);
}

.card__heading a::after {
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.card__heading a:after {
  outline-offset: 0.3rem;
}

.card__heading a:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus:not(:focus-visible):after {
  box-shadow: none;
  outline: 0;
}

.card__heading a:focus {
  box-shadow: none;
  outline: 0;
}

@media screen and (min-width: 992px) {
  .underline-links-hover:hover a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

.card--standard.card--media .card__inner .card__information,
.card--standard.card--text > .card__content .card__heading,
.card--standard > .card__content .card__badge,
.card--standard.card--text.article-card > .card__content .card__information,
.card--standard > .card__content .card__caption {
  display: none;
}

.card--standard > .card__content {
  padding: 0;
}

.card--standard > .card__content .card__information {
  padding-left: 0;
  padding-right: 0;
}

.card--card.card--media .card__inner .card__information,
.card--card.card--text .card__inner,
.card--card.card--media > .card__content .card__badge {
  display: none;
}

.card--extend-height {
  height: 100%;
}

.card--extend-height.card--standard.card--text,
.card--extend-height.card--media {
  display: flex;
  flex-direction: column;
}

.card--extend-height.card--standard.card--text .card__inner,
.card--extend-height.card--media .card__inner {
  flex-grow: 1;
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card-information > * + * {
  margin-top: 0.5rem;
}

.card-information {
  width: 100%;
}

.card-information > * {
  color: rgb(var(--color-foreground));
}

.card-information > .price {
  color: rgb(var(--color-foreground));
}

.card-information > .rating {
  margin-top: 0.4rem;
}

.card-information
  > *:not(.visually-hidden:first-child)
  + *:not(.rating) {
  margin-top: 0.7rem;
}

.card-information .caption {
  letter-spacing: 0.07rem;
}

.card-article-info {
  margin-top: 1rem;
}
.card--standard .wbproductdes {
    padding-top: 10px;
}

.wbsalepos{
    bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.wbimgblock img {
    transition: .3s ease;
}
.wbimgblock{
    position: relative;
    text-align: center;
}
.wbhrating{
    margin-bottom: 10px;
}  
.wbprotype{
    font-size: calc(var(--font-body-scale) * 14px);
    text-transform: capitalize;
    margin-bottom: 8px;
}
.wbimgblock .card__text.h3 {
    font-size: calc(var(--font-body-scale) * 16px);
}
.product-title{
    font-size: calc(var(--font-body-scale) * 16px);
    text-transform: capitalize;
    transition: .3s ease;
    letter-spacing: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 0 10px 0;
    font-weight: var(--font-body-weight);
    margin-bottom: 0;
}
.product-title:hover, .product-title:hover a{ 
    color: var(--color-wbmaincolors-text);
}
.wbhprice{
    margin-bottom: 10px;
}
.wbnorating.rating-star::before{
    color: rgba(var(--color-foreground),0.15);
    background: transparent;
    -webkit-text-fill-color: rgba(var(--color-foreground),0.15);
}
.wbproduct-container .quantity__input{
    width: 22px;
    flex-grow: unset;
    padding: 0;
    font-size: rgb(var(--color-foreground));
    height: 35px;
    vertical-align: top;
    color: var(--color-base-solid-button-labels);
}
.wbproduct-container .quantity{
    height: 35px;
    border-radius: 25px;
    display: inline-block;
    vertical-align: middle;
    background-color: rgb(var(--color-background));
}
.wbproduct-container .quantity__button{
    font-size: 13px;
    display: inline-block;
    height: 33px;
    padding: 0 5px;
    color: var(--color-base-solid-button-labels);
}
.wbproduct-container .quantity__button svg {
    width: 12px;
    height: 11px;
}
.product-form .cartb .loading-overlay__spinner svg{
    display: inline-block;
}
/* Product Buttons */
.wbproduct-container .product-form .wbbtngrp{
    margin: 0 auto;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 30%;
    transition: .3s ease;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wbproduct-container:hover .product-form .wbbtngrp{
    opacity: 1;
}


.wbproduct-container .cartb[disabled]{
    cursor: no-drop;
}
.product-form .wbquickv span{
    vertical-align: middle;
}
.product-form .cartb,.product-form .wbquickv, .product-form .wishlist{
    border: none;
    text-transform: capitalize;
    background: rgb(var(--color-background));
    min-width: 40px;
    min-height: 40px;
    display: inline-block;
    vertical-align: middle;
    border-radius: 5px;
    color: rgb(var(--color-foreground));
    text-align: center;
    transition: .3s ease;
    letter-spacing: .5px;
    padding: 0;
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.product-form .cartb:hover,.product-form .wbquickv:hover, .product-form .wishlist:hover{
    background: var(--color-wbmaincolors-text);
    border-color: var(--color-wbmaincolors-text);
    color: rgb(var(--color-background));
}
.product-form .cartb > svg,.product-form .wbquickv svg,.product-form .wishlist svg {
    width: 18px;
    height: 18px;
}
.product-form .cartb:hover svg,.product-form .wbquickv:hover svg,.product-form .wishlist:hover svg{
    fill: rgb(var(--color-background));
}
.product-form .cartb span,.product-form .wbquickv span{
    display: none;
}
/*Product Buttons Over */
/* Home Variants */
.wbproduct-container .product__media-item:not(:first-child) {
    display: none;
}
.wbproduct-container .inner-class .form__label{
    font-size: rgb(var(--color-foreground));
}
.wbproduct-container .product-form__input input[type="radio"],.wbproduct-container .wbswatchclr input[type="radio"] {
    clip: rect(0,0,0,0);
    overflow: hidden;
    position: absolute;
    height: 1px;
    width: 1px;
}
.wbproduct-container .product-form__input input + label {
    border-radius: 0;
    display: inline-block;
    position: relative;
    padding: 8px 6px;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    transition: border var(--duration-short) ease;
    cursor: pointer;
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground), var(--variant-pills-border-opacity));
    background-color: rgb(var(--color-background));
    color: rgba(var(--color-foreground));
    border-radius: var(--variant-pills-radius);
    margin: 0 3px 3px 0;
    box-shadow: none;
    min-width: 32px;
    min-height: 32px;
}
.wbproduct-container .product-form__input input + label.active {
    background-color: rgb(var(--color-foreground));
    border-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
    box-shadow: none;
}
.wbproduct-container .product-form__input input + label:before,.wbproduct-container .wbswatchclr input + label:before {
    content: '';
    position: absolute;
    top: calc(var(--variant-pills-border-width) * -1);
    right: calc(var(--variant-pills-border-width) * -1);
    bottom: calc(var(--variant-pills-border-width) * -1);
    left: calc(var(--variant-pills-border-width) * -1);
    z-index: -1;
    border-radius: var(--variant-pills-radius);
    box-shadow: var(--variant-pills-shadow-horizontal-offset) var(--variant-pills-shadow-vertical-offset) var(--variant-pills-shadow-blur-radius) rgba(var(--color-shadow), var(--variant-pills-shadow-opacity));
}
/* For Color */
.wbproduct-container .wbswatchclr input + label{
    padding: 0;
    border-radius: 100%;
    min-width: 18px;
    min-height: 18px;
    box-shadow: 0 0px 0px 1px rgba(var(--color-foreground),0.1);
    border: none;
    font-size: 0;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    background-repeat: no-repeat;
    position: relative;
    border: 1px solid transparent;
    cursor: pointer;
    background-position: 50%;
    background-size: 20px;
    margin: 3px;
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground),var(--variant-pills-border-opacity));
}
/*.wbproduct-container .wbswatchclr input + label.active{
    box-shadow: 0 0px 0px 1px rgba(var(--color-foreground),1);
}*/
.wbproduct-container .wbswatchclr input + label.active::after{
    content: "";
    box-shadow: 0 0px 0px 1px rgba(var(--color-foreground),1);
    position: absolute;
    left: -3px;
    right: -3px;
    top: -3px;
    bottom: -3px;
    border-radius: 100%;
}
.wbproduct-container .product-form__input input:focus-visible + label,.wbproduct-container .wbswatchclr input:focus-visible + label{
    box-shadow: 0 0 0 .2rem rgb(var(--color-background)),0 0 0 .3rem rgba(var(--color-foreground),.3),0 0 .3rem .2rem rgba(var(--color-foreground),.1);
}
variant-radios,variant-selects{
    display: block;
    clear: both;
}
variant-selects .product-form__input{
    margin-bottom: 8px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}
variant-selects .product-form__input.product-form__input--dropdown label {
    margin-bottom: 0;
}
variant-selects .product-form__input .select{
    width: 75%;
}
.wbproduct-container variant-selects .product-form__input label{
    margin-bottom: 0;
}
.wbproduct-container variant-selects .product-form__input select{
    height: 34px;
    min-width: auto;
}
.wbproduct-container variant-radios .js.product-form__input.inner-class,.wbproduct-container variant-radios .swatchComponent{
    margin-bottom: 15px;
}
@media (max-width: 991px){
    .wbproduct-container .product-form .wbbtngrp{
        position: unset;
        opacity: 1;
        margin-top: 10px;
    }
    .product-form .cartb > svg, .product-form .wbquickv svg, .product-form .wishlist svg {
        width: 15px;
        height: 15px;
    }
    .product-form .cartb, .product-form .wbquickv, .product-form .wishlist{
        min-width: 30px;
        min-height: 30px;
        background-color: rgb(var(--color-foreground),.05);
    }
    .product-form .cartb:hover, .product-form .wbquickv:hover, .product-form .wishlist:hover {
        background: var(--color-wbmaincolors-text);
        border-color: var(--color-wbmaincolors-text);
    }
    .wbproduct-container variant-selects .product-form__input select {
        height: 30px;
        font-size: 11px;
        padding: 0 6px;
    }
    .wbproduct-container variant-selects .product-form__input .select .icon-caret{
        width: 10px;
    }
    .wbproduct-container variant-selects .product-form__input label{
        font-size: 11px;
        letter-spacing: 0;
    }
    variant-selects .product-form__input{
        gap: 6px;
    }
    .wbproduct-container variant-radios .js.product-form__input.inner-class,.wbproduct-container variant-radios .swatchComponent {
        margin-bottom: 8px;
    }
    .wbhomesbtn {
        text-align: center;
        margin-top: 10px;
    }
    .wbhomesbtn .slider-button .icon{
        height: auto;
    }
    .wbhomesbtn button{
        position: unset;
        opacity: 1;
        display: inline-block;
        vertical-align: middle;
        width: 34px;
        height: 34px;
    }
  	.wbproduct-container .wbswatchclr input + label {
		min-width: 14px;
		min-height: 14px;  
  	}
    .card__badge span,.badge{
        font-size: 11px;
        padding: 1px 6px;
    }
    .product_badge.new {
        top: 3px;
        font-size: 11px;
    }
    .product-list .wbproduct-container .product-form .wbbtngrp{
        margin-top: 12px;
    }
    .wbproduct-container .product-form__input input + label{
        padding: 4px 6px;
        font-size: 12px;
        min-width: 24px;
        min-height: 24px;
    }
    .wbproduct-container:hover .wbimgblock img {
        filter: unset;
    }
    .wbproductdes{
        padding-top: 10px;
    }
    .wbproduct-container .quantity__input,.wbproduct-container .quantity{
        height: 30px;
    }
    .wbproduct-container .quantity__button{
        height: 28px;
    }
    .wbhprice {
        margin-bottom: 3px;
    }
    .product-title{
        font-size: calc(var(--font-body-scale) * 14px);
        padding: 0 0 6px 0;
    }
    .card__heading{
        font-size: calc(var(--font-body-scale) * 14px);
        margin-bottom: 8px;
    }
    .template-search .article-card__info{
        font-size: calc(var(--font-body-scale) * 12px);
    }
    .wbhprice {
        margin-bottom: 5px;
    }
    .wbprotype{
        font-size: 12px;
        margin-bottom: 4px;
    }
    .wbhrating {
        margin-bottom: 5px;
    }
}