#product-grid .grid__item {
    margin-bottom: 15px;
}
#product-grid.product-list .grid__item{
    margin-bottom: 0;
}
.product-list .grid__item {
    flex: 0 0 100%;
    max-width: 100%;
}
.product-list .wbproduct-container .card{
    width: 100%;
    flex-direction: unset;
}
.product-list .wbimgblock{
    float: left;
    width: 30%;
}
.product-list .wbproductdes {
    float: left;
    width: 70%;
    text-align: left;
    padding: 0 0 0 15px;
    padding-top: 0;
}
#product-grid.product-grid .wblistpdesc{
    display: none;
}
.wblistpdesc{
    margin: 0 0 10px 0;
    font-size: 13px;
}
#product-grid.product-list .wbproduct-container .product-form .wbbtngrp{
    position: unset;
    opacity: 1;
    text-align: left;
    justify-content: left;
}
#product-grid .wbproduct-container .product-form .wbbtngrp{
    transition: unset;
}
#product-grid.product-list .wbproduct-container{
    margin-bottom: 30px;
}
#product-grid.product-list .grid__item:last-child .wbproduct-container{
    margin-bottom: 1px;
}
.product-galleryv.rless{
    margin: 0;
}
.product-galleryv .cless{
    padding: 0;
}
/* Search Template */
.template-search .wbsearchpages .card__text {
    font-size: calc(var(--font-body-scale) * 16px);
    margin: 0;
}
.template-search .wbsearchpages .card-article-info{
    font-size: calc(var(--font-body-scale) * 14px);
}
.template-search .wbsearchpages .card__content{
    padding: 10px;
}
.template-search .wbsearchpages .card__badge{
    margin: 10px;
}
.template-search .wbsearchpages .card__inner .card__badge span{
    position: unset;
}
.wbbtmpages{
    margin-top: 30px;
}
.template-search .wbsearchpages.card-wrapper .card{
    height: 100%;
    background: rgba(var(--color-foreground),0.03);
    display: block;
}
.wbsearchblog .card .media{
    position: unset;
}
.wbsearchblog .card__text{
    font-size: calc(var(--font-body-scale) * 16px);
    margin-top: 10px;
    margin-bottom: 10px;
}
/* Gallery View */
.product-galleryv{
    column-gap: 5px;
    row-gap: 5px;
}
#product-grid.product-galleryv .grid__item{
    margin-bottom: 0;
    max-width: calc(25% - 5px * 3 / 4);
    width: calc(25% - 5px * 3 / 4);
}
.product-galleryv .wbproductdes {
    display: none;
}
.product-galleryv .product_badge.new,.product-galleryv .card__badge{
    display: none;
}
@media (min-width: 992px) and (max-width: 1199px){
    #ProductGridContainer .grid--3-col-desktop.product-grid .grid__item {
        width: 50%;
        max-width: 50%;
    }
    .product-grid.grid--4-col-desktop .grid__item {
        width: 33.33%;
        max-width: 33.33%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .facets-wrapper .facet-filters__field{
        justify-content: unset;
    }
    .facets-wrapper .facets__form .product-count{
        display: none;
    }
    .facets-wrapper .facets__form{
        display: block;
    }
    .facets-wrapper .facet-filters{
        margin-top: 20px;
    }
    .product-grid .grid__item,#ProductGridContainer .grid--3-col-desktop.product-grid .grid__item {
        width: 50%;
        max-width: 50%;
    }
    .product-list .wbimgblock,.product-list .wbproductdes{
        width: 50%;
    }
    .wblistpdesc{
        letter-spacing: 0;
        overflow: hidden;
        height: 40px;
    }
    .product-count-vertical{
        display: none;
    }
}
@media (max-width: 1199px){
    .product-list .wbproduct-container{
        margin-bottom: 15px;
    }
}
@media (max-width: 991px){
    #product-grid .grid__item {
        margin-bottom: 10px;
    }
    .product-list .wbhprice {
        margin-bottom: 8px;
    }
    .wblistpdesc{
        margin-bottom: 5px;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    .product-list .wbimgblock{
        width: 40%;
    }
    .product-list .wbproductdes{
        width: 60%;
    }
    .wblistpdesc{
        letter-spacing: 0;
        overflow: hidden;
        height: 40px;
    }
}
@media (max-width: 575px){
    #product-grid.product-galleryv .grid__item{
        margin-bottom: 0;
        max-width: calc(33.33% - 5px * 3 / 4);
        width: calc(33.33% - 5px * 3 / 4);
    }
  	.product-list .wbproduct-container .card {
      display: block;
      float: left;
      margin-bottom: 15px;
    }
    .product-list .wbimgblock,.product-list .wbproductdes{
        width: 100%;
    }
    .wblistpdesc{
        overflow: hidden;
        height: 37px;
        font-size: 12px;
    }
    .product-list .wbproductdes{
        padding: 0 !important;
        padding-top: 10px !important;
    }
    /*.product-list .wbimgblock{
        width: 35%;
    }
    .product-list .wbproductdes{
        width: 65%;
    }*/
}
@media (max-width: 767px){
    .wbsearchblog .card__text {
        font-size: calc(var(--font-body-scale) * 14px);
    }
    .collection-hero__image-container{
        margin-bottom: 10px;
        text-align: center;
    }
}
@media (min-width: 576px) and (max-width: 767px){
    #ProductGridContainer .grid--3-col-desktop.product-grid .grid__item {
        width: 33.33%;
        max-width: 33.33%;
    }
}
@media (max-width: 575px){
    #ProductGridContainer .grid--3-col-desktop.product-grid .grid__item {
        width: 50%;
        max-width: 50%;
    }
}