/* Footer */
.footer {
    background: rgb(var(--color-wbfootbgcolor));
    color: rgb(var(--color-wbfootcolor));
}
.footer a{
  color: rgb(var(--color-wbfootcolor));
}
.wbfootcont svg{
  fill: rgb(var(--color-wbfootcolor));
}
.footer a:hover{
  color: rgb(var(--color-wbfoothcolor));
}
.wbfootcont.footer-block-image svg{
    width: 100%;
    height: 100%;
}
button#scroll {
    position: fixed;
    bottom: 60px;
    right: 20px;
    font-size: 18px;
    cursor: pointer;
    z-index: 2;
    min-width: 44px;
    min-height: 44px;
    overflow: hidden;
    display: block;
    text-align: center;
    opacity: 1;
    transition: all .5s ease-in-out 0s;
    transform: scale(1);
    padding: 6px 0;
    border: none;
}
#scroll.scrollhide {
    bottom:-100px;
    opacity:0;
    transform:scale(0)
}
#scroll svg{
    fill: rgb(var(--color-button-text));
    width: 20px;
    height: 20px;
}
.subnews{
    font-size: calc(var(--font-body-scale) * 16px);
    margin: 0;
}
.newsletter-form__field-wrapper .field__label{
    top: 15px;
}
.newsletter-form__field-wrapper input {
    /*background: rgb(var(--color-base-background-1));*/
    height: 45px;
    color: rgb(var(--color-foreground));
}
.newsletter-form__field-wrapper .field::after,.newsletter-form__field-wrapper .field:hover.field::after{
    box-shadow: none; 
}
.newsletter-form__field-wrapper .field__input{
    background: rgb(var(--color-foreground),0.05);
}
.newsletter-form__field-wrapper .newsletter-form__button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 0 6px 6px 0;
}
.newsletter-form__field-wrapper .newsletter-form__button.button::after{
    box-shadow: none;
    border-radius: 0 6px 6px 0;
}
.newsletter-form__field-wrapper .button{
    padding: 0 15px;
    text-transform: uppercase;
}
.footer-block--newsletter .newsletter-form__field-wrapper .button svg {
    fill: rgb(var(--color-button-text));
    transform: none;
    opacity: 1;
    width: 18px;
    height: 18px; 
}
.newsletter-form__field-wrapper .button span,.newsletter-form__field-wrapper .button:hover span,.newsletter-form__field-wrapper .button:hover svg{
    transform: none;
}
.footer-block--newsletter h3,.ftsocial h3 {
    font-size: calc(var(--font-body-scale) * 22px);
    text-transform: capitalize;
    margin-bottom: 12px;
}
.footer-block--newsletter .newsletter-form__message{
    margin-top: 10px;
    font-size: calc(var(--font-body-scale) * 14px);
}
.footer-block--newsletter > .page-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
}
.wbftleft h3{
    margin-top: 30px;
}
.wbftleft img{
    margin-bottom: 20px;
}
.wbfootcont svg{
    width: 20px;
    height: 20px;
}
.wbfootcont ul{
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 36px;
}
.footer__blocks-wrapper .h6,.wbftleft h3{
    font-weight: var(--font-body-weight-medium);
    font-size: calc(var(--font-body-scale) * 18px);
    text-transform: uppercase;
    margin-bottom: 15px;
    border: none;
    padding: 0;
    background: transparent;
    text-align: left;
}
.footer .footer-collapse li{
    line-height: 35px;
    font-size: calc(var(--font-body-scale) * 14px);
}
.footer__content-bottom{
    padding: 15px 0;
    font-size: calc(var(--font-body-scale) * 14px);
    border-top: 1px solid rgba(var(--color-wbfootcolor),0.1);
}
.footer__content-bottom .row{
    justify-content: space-between;
    align-items: center;
    margin: 0;
} 
.footer__blocks-wrapper{
    border-top: 1px solid rgba(var(--color-foreground),0.08);
    padding-top: 30px;
    margin-top: 30px;
}
/* Footer Payment */
.footer__payment ul{
    padding: 0;
    margin: 0;
}
.footer__payment li{
    list-style: none;
    display: inline-block;
    vertical-align: middle;
}
.footer__payment li svg{
    width: 38px;
    height: 22px;
}
/* Footer Social */
.footmiddle {
    border-left: 1px solid rgb(var(--color-foreground),.1);
}
.footer .footer__list-social li a {
    line-height: normal;
    display: inline-block;
    vertical-align: middle;
    min-width: 38px;
    min-height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 6px rgb(var(--color-foreground),.1);
    margin-right: 8px;
}
.footer__list-social li{
    display: inline-block;
    vertical-align: middle;
}
.footer__list-social li svg{
    width: 16px;
    height: 16px;
}
ul.footer__list-social {
    padding: 0;
    margin: 0;
}
.footmiddle > .row {
    align-items: center;
}
.footer__payment{
    margin-top: 0;
}
@media (min-width: 1200px){
    .newsletter-form__field-wrapper .button svg{
        display: none;
    }
}
@media (min-width: 1200px) and (max-width: 1589px){
    .footer .footer__list-social li a{
        min-width: 28px;
        min-height: 28px;
    }
}
@media (min-width: 768px){
    .footer__blocks-wrapper .h6{
        cursor: text;
    }
}
@media (max-width: 1199px){
    .newsletter-form__field-wrapper .button span{
        display: none;
    }
}
@media (max-width: 991px){
    .footer__blocks-wrapper{
        padding-top: 22px;
        margin-top: 22px;
    }
    .footer__blocks-wrapper .h6{
        font-size: calc(var(--font-body-scale) * 16px);
    }
    .footer .footer-collapse li{
        line-height: 30px;
        font-size: calc(var(--font-body-scale) * 14px);
    }
    .subnews,.footer__content-bottom{
        font-size: calc(var(--font-body-scale) * 14px);   
    }
}
@media (max-width: 767px){
    .ftsocial,.footer-block--newsletter{
        margin-top: 12px;
    }
    .footer-block--newsletter > .page-width {
        display: block;
    }
    .footer-block--newsletter h3, .ftsocial h3 {
        font-size: calc(var(--font-body-scale) * 16px);
    }
    .footer-block-image{
        margin-top: 15px;
    }
    .footer__content-bottom {
        padding: 10px 0;
    }
    .footer__blocks-wrapper .h6 {
        cursor: pointer;
        padding: 5px 0;
        margin-top: 0;
        font-size: calc(var(--font-body-scale) * 16px);
        width: 100%;
        text-align: left;
        margin-bottom: 0;
    }
    .wbfootcont ul.footer__list-social {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .footer .footer__list-social li a{
        min-width: 30px;
        min-height: 30px;
    }
}