<div class="custom-page">
    <h1>{{ page.title }}</h1>
    <div class="custom-content">
        <p class="intro-text">
            {{ page.metafields.custom.intro_text }}
        </p>
        <div class="more-text" style="display:none;">
            <p>
                {{ page.metafields.custom.more_text }}
            </p>
        </div>
        <button class="show-more-btn">Ver Mais</button>
    </div>
</div>
